/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/tncu
/tncuold
.env
.gitignore
coop_tncu.tar.gz
coop.tar.gz
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
